.input-group.mb-3 {
    margin-left: 50px;
} 

.form-control {
    margin-right: 100px;
}

.list-group-item {
    width: 60%;
    height: 50px;
    margin-right: 30px;
    margin-left: 100px;
    margin-top: 5px;
}

#moveto {
    display: flex;
}

#moveto button {
    background: none;
    border: none;    
}
